
<div class="container main-wrapper">
  <div class="row mt-5">
    <div class="col-12 col-md-4 col-lg-6">
      <a href="https://www.cdsofficialmusic.com" target="_blank"><img src=<%= image_path ('cds.png') %> class=" img-fluid site-image" id="mobile-img" alt="image of cds official music"></a>
    </div>


    <div class="col-12 col-md-8 col-lg-6">

      <div class="site-text">
        <h2 class="title-shadow">CDS Official Music</h3>
        <h4>Role: Fullstack Developer</h4>
        <p>A website designed for CDS Official Music to showcase the talents of the artist Connor D. Steck. I designed the site from start to finish using figma to draw up a prototype before checing with the client for revsions. I implemted one page scrolling with Javascript as well as mobile responsivness for easy use across devices. I host and manage the site on Heroku and still update the site when needed.  </p>
      </div>
      <div class="col-12 col-md-8 col-lg-6">
        <div class="dev-icons">
          <i class="devicon-html5-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-rails-plain"></i><i
            class="devicon-nodejs-plain"></i><i class="devicon-ruby-plain"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="splitter"></div>

  <%# CAREAROUND %>
  <div class="row mt-3">
    <div class="col-12 col-md-8 col-lg-7">
      <div class="container">
      <div class="site-text">
          <h2 class="title-shadow">CareAround</h3>
          <h4>Role: Project Manager</h4>
          <p>A mobile application to find your skincare match in Japan. Carearound used google vision and live translation APIs to deliver an application that allows the customer to quicly and easily identify a suitable product for them. My role included researching and implementing the best servcies to use for backend development and making sure the project was delivered by the team fully functional on time. </p>
        </div>
        <div class="col-12 col-md-8 col-lg-7">
          <div class="dev-icons">
            <i class="devicon-html5-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-rails-plain"></i><i
              class="devicon-nodejs-plain"></i><i class="devicon-ruby-plain"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-2 col-lg-2">
        <a href="https://www.carearound.life" target="_blank"><img src=<%= image_path ('carearound.png') %> class=" img-fluid site-image" alt="image of carearound site"></a>
    </div>
    <div class="col-6 col-md-2 col-lg-2">
       <a href="https://www.carearound.life" target="_blank"><img src=<%= image_path ('ca_jp_products.png') %> class=" img-fluid site-image" alt="image of carearound site"></a>
    </div>

  </div>

  <div class="splitter"></div>

 <%# JEDI %>
  <div class="row mt-5">
    <div class="col-12 col-md-4 col-lg-6">
      <a href="https://rails-jedi-master-class.herokuapp.com" target="_blank"><img src=<%= image_path ('jedi.png') %> class=" img-fluid site-image" id="mobile-img" alt="image of jedi master class site"></a>
    </div>

    <div class="col-12 col-md-8 col-lg-6">

      <div class="site-text">
        <h2 class="title-shadow">Jedi Master Class</h3>
        <h4>Role: Project Manager/Backend Developer</h4>
        <p>A web app modeled off of Air BnB where you can book classes with a Jedi or Sith master and hone your skills with the force. As a Jedi or Sith master you can create classes for future padawans to book. My role included managing our team so that all user stories were clearly implemented and that design and functionality was consistant across the app. From a backend perspective I was responsible for creating the booking function and managing the lessons page. </p>
      </div>
      <div class="col-12 col-md-8 col-lg-6">
        <div class="dev-icons">
          <i class="devicon-html5-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-rails-plain"></i><i
            class="devicon-nodejs-plain"></i><i class="devicon-ruby-plain"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="splitter"></div>

<%# GIF SEARCHER %>
  <div class="row mt-5">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="site-text">
        <h2 class="title-shadow">Gif Searcher</h3>
          <h4>Role: Fullstack Developer</h4>
          <p>A web app made entirley with React. Used the Giphy API in order to search for the gifs. Made with help from
            LeWagon </p>
      </div>
      <div class="col-12 col-md-8 col-lg-6">
        <div class="dev-icons">
          <i class="devicon-react-original"></i><i class="devicon-html5-plain"></i><i class="devicon-css3-plain"></i>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-6">
      <a href="https://lhb410.github.io/I-Bequeath-you-with-this-Gif/" target="_blank"><img src=<%= image_path ('react_gif.png') %> class=" img-fluid site-image" alt="image of gif searcher site"></a>
    </div>
  </div>

  <div class="splitter"></div>

  <%# AIR BNB %>

  <div class="row mt-5">
    <div class="col-12 col-md-4 col-lg-6">
      <a href="https://github.com/LHB410/rails-simple-airbnb" target="_blank"><img src=<%= image_path ('airbnb.png') %> class=" img-fluid site-image" id="mobile-img" alt="image of airbnb site"></a>
    </div>

    <div class="col-12 col-md-8 col-lg-6">
      <div class="site-text">
        <h2 class="title-shadow">Simple AirBnB</h3>
          <h4>Role: Fullstack Developer</h4>
          <p>A simple web clone of the website Airbnb. Here you can browse and book a flat to rent. Or as an onwer upload a flat to be rented. Built using Ruby on rails and bootstrap it has a clean and simple design. The Mapbox API is used to fetch maps for the flats based on there addresses. My role was designing the entire wesbite. I designed the back end and front end aspects of the site. I used embedded Ruby to include easy to read functionality within the HTML. </p>
      </div>
      <div class="col-12 col-md-8 col-lg-6">
        <div class="dev-icons">
          <i class="devicon-html5-plain"></i> <i class="devicon-css3-plain"></i> <i class="devicon-rails-plain"></i><i
              class="devicon-ruby-plain"></i>
        </div>
      </div>
    </div>
  </div>
</div>

