<%= render 'componants/navbar' %>
<div class="side-style">
  <ul class=side-list-style>
    <li><a  href="https://www.linkedin.com/in/laura-h-brooks"><i id="social-icon" class="fab fa-linkedin"></i></a></li>

    <li><a href="https://twitter.com/LauraBrooks0"><i id="social-icon" class="fab fa-twitter-square"></i></a></li>

    <li><a href="https://www.github.com/LHB410"><i id="social-icon" class="fa-brands fa-github"></i></a></li>
  </ul>
</div>

<div class="salmon">
  <div id="one" class="default first item fadeEl-second">
    <%= render 'componants/about' %>
  </div>
</div>




<div class="green">
  <div id="two" class="item fadeEl-third">
    <%= render 'componants/projects' %>
  </div>
</div>


</div>


<div class="gold">
  <div id="three" class="item">
    <%= render 'new' %>
  </div>
</div>

<div class="purple fadeEl">
  <%= render 'componants/footer' %>
</div>







